@charset "utf-8";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft Yahei",\5b8b\4f53;outline:0;} 
a{color:#333;}
 
/*滚动条*/
::-webkit-scrollbar{width:5px; height:5px; background-color:#eee;} /*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track{border-radius:10px; background-color:#eee;}/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{border-radius:10px; background-color:#888;}
 
/*input输入提示文字颜色*/
input::-webkit-input-placeholder{color:#007cbd;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px #031d35 inset !important;-webkit-text-fill-color:rgba(255,255,255,1) !important;color:#fff;}
 
.mp_0{margin:0; padding:0;}
.mar_0{margin:0;}
.pad_0{padding:0;}
 
.mt_20{margin-top:20px;}
.mt_15{margin-top:15px;}
.mt_10{margin-top:10px;}
.mt_5{margin-top:5px;}
.mt_0{margin-top:0px;}
.mt_1{margin-top:-1px;}
 
.pd_20{padding:20px;}
.pd_15{padding:15px;}
.pd_10{padding:10px;}
.pd_5{padding:5px;}
.pd_0{padding:0px;}
 
.fc_l{float:left;}
.fc_r{float:right;}
.of_h{overflow:hidden;}
.clear{clear:both;}

