.jumbotron1{
	padding-top: 35px;
	padding-bottom: 25px;
	margin-bottom: 0px;
}

.topTitle{
	font-family: "STXingkai",华文行楷;
	font-size: 30pt;
	color: white;
}

.topLocation{
	font-family: "STXingkai",华文行楷;
	font-size: 13pt;
	color: white;
}

.input-group{
	width: 40%;
	margin: 0 auto; 
	margin-top: 60px;
}

.pageTop{
	margin-top: -30px;
}

.topLogo{
	float:left;
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.topToolBar{
	float: right;
	margin-right: 60px;
	margin-top: 25px;
	margin-bottom: 25px;
	color: white;
	cursor: pointer;
}

.glyphicon-tint{
	font-size: 20pt;
	color: white;
	margin-left: 10px;
}

.list-group{
	width: 60%;
	margin: 0 auto;
}

a.list-group-item{
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

.liClass{
	margin-left: 30px;
	font-family: "KaiTi",楷体;
	font-size: 13pt;
}

.list-group-item-text{
	margin-left: 30px;
}

.lb_gl{
	height: 485px !important;
}

.for_btn {
    height: 195px !important;
}

.zwjs {
    font-size: 14px !important;
}

.xxgy{
	cursor: pointer;
}

.lb_gl{
	background: none !important;
}

.poster-list1{
	width: 96%;
	margin-left: auto;
    margin-right: auto;
}

.for_btn1{
	position: relative;
    height: 125px;
    overflow: hidden;
    max-height: 106px;
    max-width: 207px;
}

.poster-item1{
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 15px;
	width: 19%;
	background: #fff;
	height: 325px;
	border-radius: 10px;
	padding:15px 20px 15px 20px;
	transition: all 0.5s;
}

.cell_list1{
	margin-bottom: 12px;
	color:#999;
	font-size: 13px;
	overflow: hidden;
}